# Step by Step How to handle nulls  in Pandas
----

Original Data used from the Kaggle.com :
 Mooney,Paul. (2022). Best in Show (data about dogs)Stats about dogs grouped by breed. https://www.kaggle.com/datasets/paultimothymooney/best-in-show-data-about-dogs.

## Step 1 - Import pandas library

In [1]:
import pandas as pd

# Step 2 -Import the raw data file and load into a temporay dataframe

In [2]:
data = pd.read_csv('./data/dogs_data.csv')
data.shape

(174, 27)

In [3]:
#load a copy to a dataframe in order not to mess with the original data 
df = data.copy()

In [4]:
#Cross-check to see rows and columns

df.shape

(174, 27)

# STEP 3-  Check for null values in the entire DataFrame

In [5]:
#view your dataset
df

,Dog breed,Column1,category,Column2,datadog score,POPULARITY IN US,"LIFETIME COST, $",Column4,INTELLIGENCE (TRAINABILITY) ranking,LONGEVITY,...,Column6,size category,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),Column7,intelligence category,GENETIC DISEASES,most abandoned?
0,Border Collie,NaN,herding,NaN,3.64,45.0,"$20,143",NaN,1,12.52,...,NaN,medium,no data,no data,51,20,NaN,Brightest,"eye problems, deafness",NaN
1,Border Terrier,NaN,terrier,NaN,3.61,80.0,"$22,638",NaN,30,14,...,NaN,small,6,13.5,no data,no data,NaN,Above average,none,NaN
2,Brittany,NaN,sporting,NaN,3.54,30.0,"$22,589",NaN,19,12.92,...,NaN,medium,16,35,48,19,NaN,Excellent,none,NaN
3,Cairn Terrier,NaN,terrier,NaN,3.53,59.0,"$21,992",NaN,35,13.84,...,NaN,small,6,14,25,10,NaN,Above average,"'lion jaw', heart problems",NaN
4,Welsh Springer Spaniel,NaN,sporting,NaN,3.34,130.0,"$20,224",NaN,31,12.49,...,NaN,medium,no data,no data,46,18,NaN,Above average,hip problems,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Weimaraner,NaN,sporting,NaN,NaN,32.0,no data,NaN,21,no data,...,NaN,large,no data,no data,64,25,NaN,Excellent,hip problems,NaN
170,Welsh Terrier,NaN,terrier,NaN,NaN,99.0,no data,NaN,53,no data,...,NaN,small,9,20,38,15,NaN,Average,none,NaN
171,Wire Fox Terrier,NaN,terrier,NaN,NaN,100.0,no data,NaN,51,13.17,...,NaN,small,8,17.5,38,15,NaN,Average,none,NaN
172,Wirehaired Pointing Griffon,NaN,sporting,NaN,NaN,92.0,no data,NaN,46,8.8,...,NaN,medium,no data,no data,56,22,NaN,Average,none,NaN
173,Xoloitzcuintli,NaN,non-sporting,NaN,NaN,155.0,no data,NaN,no data,no data,...,NaN,medium,no data,no data,42,16.5,NaN,no data,no data,NaN

In [6]:
#check for null values in the entire dataframe
df.isnull().sum()

Dog breed                                0
Column1                                174
category                                 2
Column2                                174
datadog score                           87
POPULARITY IN US                         2
LIFETIME COST, $                         2
Column4                                174
INTELLIGENCE (TRAINABILITY) ranking      2
 LONGEVITY                               2
 NO. OF GENETIC AILMENTS                 2
 average purchase price, US$             2
 food costs per year, US$               87
 grooming required                       2
 suitability for children                2
Column5                                174
POPULAR RATING                          87
Column6                                174
size category                            2
weight (kg)                              2
weight (lbs)                             2
shoulder height (cm)                     2
shoulder height (in)                     2
Column7                                174
intelligence category                    2
GENETIC DISEASES                         2
most abandoned?                        174
dtype: int64

In [7]:
#return only the features with nulls
sorted_nulls =(df.isnull().sum().sort_values(ascending=False))
sorted_nulls[sorted_nulls>0]

most abandoned?                        174
Column6                                174
Column5                                174
Column2                                174
Column1                                174
Column7                                174
Column4                                174
 food costs per year, US$               87
POPULAR RATING                          87
datadog score                           87
shoulder height (cm)                     2
weight (lbs)                             2
weight (kg)                              2
intelligence category                    2
size category                            2
GENETIC DISEASES                         2
shoulder height (in)                     2
 grooming required                       2
 suitability for children                2
 average purchase price, US$             2
 NO. OF GENETIC AILMENTS                 2
 LONGEVITY                               2
INTELLIGENCE (TRAINABILITY) ranking      2
LIFETIME COST, $                         2
POPULARITY IN US                         2
category                                 2
dtype: int64

In [8]:
# find the percentage of nulls ---
sorted_nulls / df.shape[0] *100

most abandoned?                        100.000000
Column6                                100.000000
Column5                                100.000000
Column2                                100.000000
Column1                                100.000000
Column7                                100.000000
Column4                                100.000000
 food costs per year, US$               50.000000
POPULAR RATING                          50.000000
datadog score                           50.000000
shoulder height (cm)                     1.149425
weight (lbs)                             1.149425
weight (kg)                              1.149425
intelligence category                    1.149425
size category                            1.149425
GENETIC DISEASES                         1.149425
shoulder height (in)                     1.149425
 grooming required                       1.149425
 suitability for children                1.149425
 average purchase price, US$             1.149425
 NO. OF GENETIC AILMENTS                 1.149425
 LONGEVITY                               1.149425
INTELLIGENCE (TRAINABILITY) ranking      1.149425
LIFETIME COST, $                         1.149425
POPULARITY IN US                         1.149425
category                                 1.149425
Dog breed                                0.000000
dtype: float64

## Step 4 - Handle all nulls in the dataframe(df)

#### We are going to handle the nulls in 2 different ways
 * Drop nulls
* Replace nulls

In [9]:
# first we are going to drop all the columns that have 100% of null values
df = df.drop(['most abandoned?','Column4','Column5','Column1','Column7','Column2','Column6'], axis= 1)
df

,Dog breed,category,datadog score,POPULARITY IN US,"LIFETIME COST, $",INTELLIGENCE (TRAINABILITY) ranking,LONGEVITY,NO. OF GENETIC AILMENTS,"average purchase price, US$","food costs per year, US$",grooming required,suitability for children,POPULAR RATING,size category,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),intelligence category,GENETIC DISEASES
0,Border Collie,herding,3.64,45.0,"$20,143",1,12.52,2,$623,$324,2,3,45.0,medium,no data,no data,51,20,Brightest,"eye problems, deafness"
1,Border Terrier,terrier,3.61,80.0,"$22,638",30,14,0,$833,$324,2,1,80.0,small,6,13.5,no data,no data,Above average,none
2,Brittany,sporting,3.54,30.0,"$22,589",19,12.92,0,$618,$466,2,2,30.0,medium,16,35,48,19,Excellent,none
3,Cairn Terrier,terrier,3.53,59.0,"$21,992",35,13.84,2,$435,$324,2,1,59.0,small,6,14,25,10,Above average,"'lion jaw', heart problems"
4,Welsh Springer Spaniel,sporting,3.34,130.0,"$20,224",31,12.49,1,$750,$324,2,1,130.0,medium,no data,no data,46,18,Above average,hip problems
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Weimaraner,sporting,NaN,32.0,no data,21,no data,1,$562,NaN,2,1,NaN,large,no data,no data,64,25,Excellent,hip problems
170,Welsh Terrier,terrier,NaN,99.0,no data,53,no data,0,$843,NaN,2,1,NaN,small,9,20,38,15,Average,none
171,Wire Fox Terrier,terrier,NaN,100.0,no data,51,13.17,0,$668,NaN,no data,no data,NaN,small,8,17.5,38,15,Average,none
172,Wirehaired Pointing Griffon,sporting,NaN,92.0,no data,46,8.8,0,$755,NaN,no data,no data,NaN,medium,no data,no data,56,22,Average,none
173,Xoloitzcuintli,non-sporting,NaN,155.0,no data,no data,no data,no data,$717,NaN,no data,no data,NaN,medium,no data,no data,42,16.5,no data,no data

In [10]:
#Check the coulmns for easy copy and paste for next step
df.columns

#reassign the sorted coulmn into df for easy

Index(['Dog breed', 'category', 'datadog score', 'POPULARITY IN US',
       'LIFETIME COST, $', 'INTELLIGENCE (TRAINABILITY) ranking', ' LONGEVITY',
       ' NO. OF GENETIC AILMENTS', ' average purchase price, US$',
       ' food costs per year, US$', ' grooming required ',
       ' suitability for children ', 'POPULAR RATING', 'size category',
       'weight (kg)', 'weight (lbs)', 'shoulder height (cm)',
       'shoulder height (in)', 'intelligence category', 'GENETIC DISEASES'],
      dtype='object')

In [11]:
#now our columns with 100% nulls are deleted, next is to replace all nulls in the the other rows with some values
df['category'] = df['category'].fillna('no data')
df['datadog score'] = df['datadog score'].fillna('-99')
df['POPULARITY IN US'] = df['POPULARITY IN US'].fillna('no data')
df['LIFETIME COST, $'] = df['LIFETIME COST, $'].fillna('-99')
df['INTELLIGENCE (TRAINABILITY) ranking'] = df['INTELLIGENCE (TRAINABILITY) ranking'].fillna('-99')
df[' LONGEVITY'] = df[' LONGEVITY'].fillna('no data')
df[' NO. OF GENETIC AILMENTS'] = df[' NO. OF GENETIC AILMENTS'].fillna('-99')
df[' average purchase price, US$'] = df[' average purchase price, US$'].fillna('-99')
df[' food costs per year, US$'] = df[' food costs per year, US$'].fillna('-99')
df[' grooming required '] = df[' grooming required '].fillna('-no data')
df[' suitability for children '] = df[' suitability for children '].fillna('no data')
df['POPULAR RATING'] = df['POPULAR RATING'].fillna('-99')
df['size category'] = df['size category'].fillna('no data')
df['weight (kg)'] = df['weight (kg)'].fillna('-99')
df['weight (lbs)'] = df['weight (lbs)'].fillna('-99')
df['shoulder height (cm)'] = df['shoulder height (cm)'].fillna('-99')
df['shoulder height (in)'] = df['shoulder height (in)'].fillna('-99')
df['intelligence category'] = df['intelligence category'].fillna('no data')
df['GENETIC DISEASES'] = df['GENETIC DISEASES'].fillna('no data')

## Step 5- Test for nulls

In [12]:
(df.isnull().sum()/ df.shape[0]) * 100

Dog breed                              0.0
category                               0.0
datadog score                          0.0
POPULARITY IN US                       0.0
LIFETIME COST, $                       0.0
INTELLIGENCE (TRAINABILITY) ranking    0.0
 LONGEVITY                             0.0
 NO. OF GENETIC AILMENTS               0.0
 average purchase price, US$           0.0
 food costs per year, US$              0.0
 grooming required                     0.0
 suitability for children              0.0
POPULAR RATING                         0.0
size category                          0.0
weight (kg)                            0.0
weight (lbs)                           0.0
shoulder height (cm)                   0.0
shoulder height (in)                   0.0
intelligence category                  0.0
GENETIC DISEASES                       0.0
dtype: float64

In [14]:
df.head()

,Dog breed,category,datadog score,POPULARITY IN US,"LIFETIME COST, $",INTELLIGENCE (TRAINABILITY) ranking,LONGEVITY,NO. OF GENETIC AILMENTS,"average purchase price, US$","food costs per year, US$",grooming required,suitability for children,POPULAR RATING,size category,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),intelligence category,GENETIC DISEASES
0,Border Collie,herding,3.64,45.0,"$20,143",1,12.52,2,$623,$324,2,3,45.0,medium,no data,no data,51,20,Brightest,"eye problems, deafness"
1,Border Terrier,terrier,3.61,80.0,"$22,638",30,14,0,$833,$324,2,1,80.0,small,6,13.5,no data,no data,Above average,none
2,Brittany,sporting,3.54,30.0,"$22,589",19,12.92,0,$618,$466,2,2,30.0,medium,16,35,48,19,Excellent,none
3,Cairn Terrier,terrier,3.53,59.0,"$21,992",35,13.84,2,$435,$324,2,1,59.0,small,6,14,25,10,Above average,"'lion jaw', heart problems"
4,Welsh Springer Spaniel,sporting,3.34,130.0,"$20,224",31,12.49,1,$750,$324,2,1,130.0,medium,no data,no data,46,18,Above average,hip problems